# Data Science Tools and Ecosystem

## Author
Amanda Clark

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- Show some of the popular Data Science languages
- Show some of the commonly used libraries
- Show examples of evaluating arithmetic expressions in Python

### Some of the popular languages that Data Scientists use are:

### Some of the commonly used libraries used by Data Scientists include:

1. Matplotlib
2. Pandas
3. NumPy

| Data Science Tools |
| ------------------ |
| R Studio |
| Git |
| Anaconda |

### Below are a few examples of evaluating arithmetic expressions in Python

*This a simple arithmetic expression to mutiply then add integers*

In [5]:
(3*4)+5

17

*This will convert 200 minutes to hours by diving by 60.*

In [6]:
200/60

3.3333333333333335