<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0220ENSkillsNetwork900-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1>Extracting and Visualizing Stock Data</h1>
<h2>Description</h2>

Extracting essential data from a dataset and displaying it is a necessary part of data science; therefore individuals can make correct decisions based on the data. In this assignment, you will extract some stock data, you will then display this data in a graph.

<h2>Table of Contents</h2>
<div class="alert alert-block alert-info" style="margin-top: 20px">
    <ul>
        <li>Define a Function that Makes a Graph</li>
        <li>Question 1: Use yfinance to Extract Stock Data</li>
        <li>Question 2: Use Webscraping to Extract Tesla Revenue Data</li>
        <li>Question 3: Use yfinance to Extract Stock Data</li>
        <li>Question 4: Use Webscraping to Extract GME Revenue Data</li>
        <li>Question 5: Plot Tesla Stock Graph</li>
        <li>Question 6: Plot GameStop Stock Graph</li>
    </ul>
<p>
    Estimated Time Needed: <strong>30 min</strong></p>
</div>

<hr>

***Note***:- If you are working in IBM Cloud Watson Studio, please replace the command for installing nbformat from `!pip install nbformat==4.2.0` to simply `!pip install nbformat`

In [4]:
!pip install yfinance==0.1.67
!mamba install bs4==4.10.0 -y
!pip install nbformat==4.2.0


!mamba install html5lib==1.1 -y 
!pip install lxml==4.6.4

Collecting yfinance==0.1.67
  Downloading yfinance-0.1.67-py2.py3-none-any.whl (25 kB)
Requirement already satisfied: pandas>=0.24 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from yfinance==0.1.67) (1.3.5)
Requirement already satisfied: numpy>=1.15 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from yfinance==0.1.67) (1.21.6)
Requirement already satisfied: requests>=2.20 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from yfinance==0.1.67) (2.29.0)
Collecting multitasking>=0.0.7 (from yfinance==0.1.67)
  Downloading multitasking-0.0.11-py3-none-any.whl (8.5 kB)
Requirement already satisfied: lxml>=4.5.1 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from yfinance==0.1.67) (4.9.2)
Requirement already satisfied: python-dateutil>=2.7.3 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from pandas>=0.24->yfinance==0.1.67) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from pandas>=0.24->yfinance==0.1.67) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from requests>=2.20->yfinance==0.1.67) (3.1.0)
Requirement already satisfied: idna<4,>=2.5 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from requests>=2.20->yfinance==0.1.67) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from requests>=2.20->yfinance==0.1.67) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from requests>=2.20->yfinance==0.1.67) (2023.5.7)
Requirement already satisfied: six>=1.5 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas>=0.24->yfinance==0.1.67) (1.16.0)
Installing collected packages: multitasking, yfinance
Successfully installed multitasking-0.0.11 yfinance-0.1.67

                  __    __    __    __
                 /  \  /  \  /  \  /  \
                /    \/    \/    \/    \
███████████████/  /██/  /██/  /██/  /████████████████████████
              /  / \   / \   / \   / \  \____
             /  /   \_/   \_/   \_/   \    o \__,
            / _/                       \_____/  `
            |/
        ███╗   ███╗ █████╗ ███╗   ███╗██████╗  █████╗
        ████╗ ████║██╔══██╗████╗ ████║██╔══██╗██╔══██╗
        ██╔████╔██║███████║██╔████╔██║██████╔╝███████║
        ██║╚██╔╝██║██╔══██║██║╚██╔╝██║██╔══██╗██╔══██║
        ██║ ╚═╝ ██║██║  ██║██║ ╚═╝ ██║██████╔╝██║  ██║
        ╚═╝     ╚═╝╚═╝  ╚═╝╚═╝     ╚═╝╚═════╝ ╚═╝  ╚═╝

        mamba (1.4.2) supported by @QuantStack

        GitHub:  https://github.com/mamba-org/mamba
        Twitter: https://twitter.com/QuantStack

█████████████████████████████████████████████████████████████


Looking for: ['bs4==4.10.0']

[+] 0.0s
[+] 0.1s
pkgs/main/linux-64 ━━━━━━━━━━━━╸━━━━━━━━━━━━   0.0 B /  ??.?MB @  ??.?MB/s  0.1s
pkgs/main/noarch   ━━━━━━━━╸━━━━━━━━━━━━━━━━   0.0 B /  ??.?MB @  ??.?MB/s  0.1s
pkgs/r/linux-64    ━━━━━━━━━╸━━━━━━━━━━━━━━━   0.0 B /  ??.?MB @  ??.?MB/s  0.1s
pkgs/r/noarch      ━━━━━━━╸━━━━━━━━━━━━━━━━━   0.0 B /  ??.?MB @  ??.?MB/s  0.1s[+] 0.2s
pkgs/main/linux-64 ━━━━━━━━━━━━━━╸━━━━━━━━━━  16.4kB /  ??.?MB @ 106.9kB/s  0.2s
pkgs/main/noarch   ━━━━━━━━━━╸━━━━━━━━━━━━━━   0.0 B /  ??.?MB @  ??.?MB/s  0.2s
pkgs/r/linux-64    ━━━━━━━━━━━╸━━━━━━━━━━━━━  28.7kB /  ??.?MB @ 185.5kB/s  0.2s
pkgs/r/noarch      ━━━━━━━━━╸━━━━━━━━━━━━━━━   0.0 B /  ??.?MB @  ??.?MB/s  0.2s[+] 0.3s
pkgs/main/linux-64 ━━━━━━━━━╸━━━━━━━━━━━━━━━ 368.6kB /  ??.?MB @   1.4MB/s  0.3s
pkgs/main/noarch   ━━━━━━━━━━━━━╸━━━━━━━━━━━ 360.5kB /  ??.?MB @   1.4MB/s  0.3s
pkgs/r/linux-64    ━━━━━━━━━━━━━━╸━━━━━━━━━━ 434.2kB /  ??.?MB @   1.7MB/s  0.3s
pkgs/r/noarch      ━━━━━━━━━━━━╸━━━━━━━━━━━━ 401.4kB /  ??.?MB @   1.6MB/s  0.3spkgs/main/noarch                                   862.2kB @   2.3MB/s  0.4s
[+] 0.4s
pkgs/main/linux-64 ━━━━━━━━━━━╸━━━━━━━━━━━━━ 827.4kB /  ??.?MB @   2.3MB/s  0.4s
pkgs/r/linux-64    ━━━━━━━━╸━━━━━━━━━━━━━━━━ 852.0kB /  ??.?MB @   2.4MB/s  0.4s
pkgs/r/noarch      ━━━━━━━━━━━━━━╸━━━━━━━━━━ 860.2kB /  ??.?MB @   2.4MB/s  0.4s[+] 0.5s
pkgs/main/linux-64 ━━━━━━━━━━━━━╸━━━━━━━━━━━   1.2MB /  ??.?MB @   2.6MB/s  0.5s
pkgs/r/linux-64    ━━━━━━━━━━╸━━━━━━━━━━━━━━   1.3MB /  ??.?MB @   2.8MB/s  0.5s
pkgs/r/noarch      ━╸━━━━━━━━━━━━━━━╸━━━━━━━   1.3MB /  ??.?MB @   2.8MB/s  0.5s[+] 0.6s
pkgs/main/linux-64 ╸━━━━━━━━━━━━━━━╸━━━━━━━━   1.6MB /  ??.?MB @   2.9MB/s  0.6s
pkgs/r/linux-64    ━━━━━━━━━━━━━╸━━━━━━━━━━━   1.7MB /  ??.?MB @   3.0MB/s  0.6s
pkgs/r/noarch      ━━━╸━━━━━━━━━━━━━━━╸━━━━━   1.7MB /  ??.?MB @   3.1MB/s  0.6spkgs/r/linux-64                                      1.9MB @   3.1MB/s  0.6s
[+] 0.7s
pkgs/main/linux-64 ━╸━━━━━━━━━━━━━━━╸━━━━━━   2.1MB @   3.1MB/s             0.7s
pkgs/r/noarch      ━━━━━━━━━━━━━━━━━━━━━━━━   2.3MB @   3.4MB/s Finalizing  0.7spkgs/r/noarch                                      @   3.4MB/s  0.7s
[+] 0.8s
pkgs/main/linux-64 ━━╸━━━━━━━━━━━━━━━╸━━━━━━   2.5MB /  ??.?MB @   3.3MB/s  0.8s[+] 0.9s
pkgs/main/linux-64 ━━━━━╸━━━━━━━━━━━━━━━╸━━━   3.0MB /  ??.?MB @   3.5MB/s  0.9s[+] 1.0s
pkgs/main/linux-64 ━━━━━━━╸━━━━━━━━━━━━━━━╸━   3.4MB /  ??.?MB @   3.5MB/s  1.0s[+] 1.1s
pkgs/main/linux-64 ━━━━━━━━━╸━━━━━━━━━━━━━━━   3.8MB /  ??.?MB @   3.5MB/s  1.1s[+] 1.2s
pkgs/main/linux-64 ━━━━━━━━━━━━╸━━━━━━━━━━━━   4.2MB /  ??.?MB @   3.6MB/s  1.2s[+] 1.3s
pkgs/main/linux-64 ━━━━━━━━━━━━━━╸━━━━━━━━━━   4.7MB /  ??.?MB @   3.7MB/s  1.3s[+] 1.4s
pkgs/main/linux-64 ━━━━━━━━━━━━━━╸━━━━━━━━━━   4.7MB /  ??.?MB @   3.7MB/s  1.4s[+] 1.5s
pkgs/main/linux-64 ━━━━━━━━━╸━━━━━━━━━━━━━━━   5.6MB /  ??.?MB @   3.8MB/s  1.5s[+] 1.6s
pkgs/main/linux-64 ━━━━━━━━━━━╸━━━━━━━━━━━━━   6.1MB /  ??.?MB @   3.9MB/s  1.6s[+] 1.7s
pkgs/main/linux-64 ━━━━━━━━━━━━━╸━━━━━━━━━━━   6.4MB /  ??.?MB @   3.8MB/s  1.7s[+] 1.8s
pkgs/main/linux-64 ━━━━━━━━━━━━━━━━━━━━━━━━   6.8MB @   3.8MB/s Finalizing  1.8spkgs/main/linux-64                                 @   3.8MB/s  1.9s

Pinned packages:
  - python 3.7.*


Transaction

  Prefix: /home/jupyterlab/conda/envs/python

  Updating specs:

   - bs4==4.10.0
   - ca-certificates
   - certifi
   - openssl


  Package              Version  Build         Channel                 Size
────────────────────────────────────────────────────────────────────────────
  Install:
────────────────────────────────────────────────────────────────────────────

  + bs4                 4.10.0  hd3eb1b0_0    pkgs/main/noarch        10kB

  Upgrade:
────────────────────────────────────────────────────────────────────────────

  - ca-certificates   2023.5.7  hbcca054_0    conda-forge
  + ca-certificates  2024.3.11  h06a4308_0    pkgs/main/linux-64     130kB
  - openssl             1.1.1t  h0b41bf4_0    conda-forge
  + openssl             1.1.1w  h7f8727e_0    pkgs/main/linux-64       4MB

  Downgrade:
────────────────────────────────────────────────────────────────────────────

  - beautifulsoup4      4.11.1  pyha770c72_0  conda-forge
  + beautifulsoup4      4.10.0  pyh06a4308_0  pkgs/main/noarch        87kB

  Summary:

  Install: 1 packages
  Upgrade: 2 packages
  Downgrade: 1 packages

  Total download: 4MB

────────────────────────────────────────────────────────────────────────────


[+] 0.0s
Downloading  (2) ━━━━━━━━━━━━━━━━━━━━━━━   0.0 B beautifulsoup4             0.0s
Extracting       ━━━━━━━━━━━━━━━━━━━━━━━       0                            0.0s[+] 0.1s
Downloading  (4) ━━━━━━━━━━━━━━━━━━━━━━━   0.0 B beautifulsoup4             0.1s
Extracting       ━━━━━━━━━━━━━━━━━━━━━━━       0                            0.0sopenssl                                              3.9MB @  23.6MB/s  0.2s
bs4                                                 10.2kB @  61.2kB/s  0.2s
ca-certificates                                    130.4kB @ 729.3kB/s  0.2s
[+] 0.2s
Downloading  (1) ━━━━━━━━━━━━━━━━━━━━━╸━   4.1MB beautifulsoup4             0.2s
Extracting   (3) ━━━━━━━━╸━━━━━━━━━━━━━━       0 bs4                        0.0sbeautifulsoup4                                      86.6kB @ 426.2kB/s  0.2s
[+] 0.3s
Downloading      ━━━━━━━━━━━━━━━━━━━━━━━   4.1MB                            0.3s
Extracting   (4) ━━━━━━━━━╸━━━━━━━━━━━━━       0 bs4                        0.1s[+] 0.4s
Downloading      ━━━━━━━━━━━━━━━━━━━━━━━   4.1MB                            0.3s
Extracting   (4) ━━━━━━━━━━╸━━━━━━━━━━━━       0 bs4                        0.2s[+] 0.5s
Downloading      ━━━━━━━━━━━━━━━━━━━━━━━   4.1MB                            0.3s
Extracting   (4) ━━━━━━━━━━━╸━━━━━━━━━━━       0 bs4                        0.3s[+] 0.6s
Downloading      ━━━━━━━━━━━━━━━━━━━━━━━   4.1MB                            0.3s
Extracting   (4) ━━━━━━━━━━━━╸━━━━━━━━━━       0 ca-certificates            0.4s[+] 0.7s
Downloading      ━━━━━━━━━━━━━━━━━━━━━━━   4.1MB                            0.3s
Extracting   (4) ━━━━━━━━━━━━━╸━━━━━━━━━       0 ca-certificates            0.5s[+] 0.8s
Downloading      ━━━━━━━━━━━━━━━━━━━━━━━   4.1MB                            0.3s
Extracting   (4) ━━━━━━━━━━━━━━╸━━━━━━━━       0 ca-certificates            0.6s[+] 0.9s
Downloading      ━━━━━━━━━━━━━━━━━━━━━━━   4.1MB                            0.3s
Extracting   (4) ━━━━━━━━━━━━━━━╸━━━━━━━       0 ca-certificates            0.7s[+] 1.0s
Downloading      ━━━━━━━━━━━━━━━━━━━━━━━   4.1MB                            0.3s
Extracting   (4) ╸━━━━━━━━━━━━━━━╸━━━━━━       0 openssl                    0.8s[+] 1.1s
Downloading      ━━━━━━━━━━━━━━━━━━━━━━━   4.1MB                            0.3s
Extracting   (4) ━━╸━━━━━━━━━━━━━━━╸━━━━       0 openssl                    0.9s[+] 1.2s
Downloading      ━━━━━━━━━━━━━━━━━━━━━━━   4.1MB                            0.3s
Extracting   (4) ━━━╸━━━━━━━━━━━━━━━╸━━━       0 openssl                    1.0s[+] 1.3s
Downloading      ━━━━━━━━━━━━━━━━━━━━━━━   4.1MB                            0.3s
Extracting   (4) ━━━━╸━━━━━━━━━━━━━━━╸━━       0 openssl                    1.1s[+] 1.4s
Downloading      ━━━━━━━━━━━━━━━━━━━━━━━   4.1MB                            0.3s
Extracting   (3) ━━━━╸━━━━━━━━━━━━━━━━━━       1 bs4                        1.2s[+] 1.5s
Downloading      ━━━━━━━━━━━━━━━━━━━━━━━   4.1MB                            0.3s
Extracting   (3) ━━━━╸━━━━━━━━━━━━━━━━━━       1 bs4                        1.3s[+] 1.6s
Downloading      ━━━━━━━━━━━━━━━━━━━━━━━   4.1MB                            0.3s
Extracting   (2) ━━━━━━━━━━╸━━━━━━━━━━━━       2 ca-certificates            1.4s[+] 1.7s
Downloading      ━━━━━━━━━━━━━━━━━━━━━━━   4.1MB                            0.3s
Extracting       ━━━━━━━━━━━━━━━━━━━━━━━       4                            1.5s
Downloading and Extracting Packages

Preparing transaction: done
Verifying transaction: done
Executing transaction: done
Collecting nbformat==4.2.0
  Downloading nbformat-4.2.0-py2.py3-none-any.whl (153 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 153.3/153.3 kB 27.5 MB/s eta 0:00:00
Requirement already satisfied: ipython-genutils in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from nbformat==4.2.0) (0.2.0)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from nbformat==4.2.0) (4.17.3)
Requirement already satisfied: jupyter-core in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from nbformat==4.2.0) (4.12.0)
Requirement already satisfied: traitlets>=4.1 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from nbformat==4.2.0) (5.9.0)
Requirement already satisfied: attrs>=17.4.0 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat==4.2.0) (23.1.0)
Requirement already satisfied: importlib-metadata in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat==4.2.0) (4.11.4)
Requirement already satisfied: importlib-resources>=1.4.0 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat==4.2.0) (5.12.0)
Requirement already satisfied: pkgutil-resolve-name>=1.3.10 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat==4.2.0) (1.3.10)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat==4.2.0) (0.19.3)
Requirement already satisfied: typing-extensions in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from jsonschema!=2.5.0,>=2.4->nbformat==4.2.0) (4.5.0)
Requirement already satisfied: zipp>=3.1.0 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from importlib-resources>=1.4.0->jsonschema!=2.5.0,>=2.4->nbformat==4.2.0) (3.15.0)
Installing collected packages: nbformat
  Attempting uninstall: nbformat
    Found existing installation: nbformat 5.8.0
    Uninstalling nbformat-5.8.0:
      Successfully uninstalled nbformat-5.8.0
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
jupyter-server 1.24.0 requires nbformat>=5.2.0, but you have nbformat 4.2.0 which is incompatible.
nbclient 0.7.4 requires nbformat>=5.1, but you have nbformat 4.2.0 which is incompatible.
nbconvert 7.4.0 requires nbformat>=5.1, but you have nbformat 4.2.0 which is incompatible.
Successfully installed nbformat-4.2.0

                  __    __    __    __
                 /  \  /  \  /  \  /  \
                /    \/    \/    \/    \
███████████████/  /██/  /██/  /██/  /████████████████████████
              /  / \   / \   / \   / \  \____
             /  /   \_/   \_/   \_/   \    o \__,
            / _/                       \_____/  `
            |/
        ███╗   ███╗ █████╗ ███╗   ███╗██████╗  █████╗
        ████╗ ████║██╔══██╗████╗ ████║██╔══██╗██╔══██╗
        ██╔████╔██║███████║██╔████╔██║██████╔╝███████║
        ██║╚██╔╝██║██╔══██║██║╚██╔╝██║██╔══██╗██╔══██║
        ██║ ╚═╝ ██║██║  ██║██║ ╚═╝ ██║██████╔╝██║  ██║
        ╚═╝     ╚═╝╚═╝  ╚═╝╚═╝     ╚═╝╚═════╝ ╚═╝  ╚═╝

        mamba (1.4.2) supported by @QuantStack

        GitHub:  https://github.com/mamba-org/mamba
        Twitter: https://twitter.com/QuantStack

█████████████████████████████████████████████████████████████


Looking for: ['html5lib==1.1']

pkgs/main/linux-64                                          Using cache
pkgs/main/noarch                                            Using cache
pkgs/r/linux-64                                             Using cache
pkgs/r/noarch                                               Using cache

Pinned packages:
  - python 3.7.*


Transaction

  Prefix: /home/jupyterlab/conda/envs/python

  Updating specs:

   - html5lib==1.1
   - ca-certificates
   - certifi
   - openssl


  Package         Version  Build         Channel                Size
──────────────────────────────────────────────────────────────────────
  Install:
──────────────────────────────────────────────────────────────────────

  + html5lib          1.1  pyhd3eb1b0_0  pkgs/main/noarch       93kB
  + webencodings    0.5.1  py37_1        pkgs/main/linux-64     20kB

  Summary:

  Install: 2 packages

  Total download: 113kB

──────────────────────────────────────────────────────────────────────


[+] 0.0s
Downloading  (1) ━━╸━━━━━━━━━━━━━━━━━━━━   0.0 B webencodings               0.0s
Extracting       ━━━━━━━━━━━━━━━━━━━━━━━       0                            0.0s[+] 0.1s
Downloading  (2) ━━━━━━━━━━━━━━━━━━━━━━━   0.0 B webencodings               0.1s
Extracting       ━━━━━━━━━━━━━━━━━━━━━━━       0                            0.0shtml5lib                                            93.0kB @ 606.6kB/s  0.2s
webencodings                                        19.6kB @ 122.7kB/s  0.2s
[+] 0.2s
Downloading      ━━━━━━━━━━━━━━━━━━━━━━━ 112.6kB                            0.2s
Extracting   (2) ━━━━━━━━━━━━╸━━━━━━━━━━       0 html5lib                   0.0s[+] 0.3s
Downloading      ━━━━━━━━━━━━━━━━━━━━━━━ 112.6kB                            0.2s
Extracting   (2) ━━━━━━━━━━━━━╸━━━━━━━━━       0 html5lib                   0.1s[+] 0.4s
Downloading      ━━━━━━━━━━━━━━━━━━━━━━━ 112.6kB                            0.2s
Extracting   (2) ━━━━━━━━━━━━━━╸━━━━━━━━       0 html5lib                   0.2s[+] 0.5s
Downloading      ━━━━━━━━━━━━━━━━━━━━━━━ 112.6kB                            0.2s
Extracting   (2) ╸━━━━━━━━━━━━━━━╸━━━━━━       0 html5lib                   0.3s[+] 0.6s
Downloading      ━━━━━━━━━━━━━━━━━━━━━━━ 112.6kB                            0.2s
Extracting   (2) ━╸━━━━━━━━━━━━━━━╸━━━━━       0 webencodings               0.4s[+] 0.7s
Downloading      ━━━━━━━━━━━━━━━━━━━━━━━ 112.6kB                            0.2s
Extracting   (2) ━━╸━━━━━━━━━━━━━━━╸━━━━       0 webencodings               0.5s[+] 0.8s
Downloading      ━━━━━━━━━━━━━━━━━━━━━━━ 112.6kB                            0.2s
Extracting   (2) ━━━╸━━━━━━━━━━━━━━━╸━━━       0 webencodings               0.6s[+] 0.9s
Downloading      ━━━━━━━━━━━━━━━━━━━━━━━ 112.6kB                            0.2s
Extracting       ━━━━━━━━━━━━━━━━━━━━━━━       2                            0.7s
Downloading and Extracting Packages

Preparing transaction: done
Verifying transaction: done
Executing transaction: done
Collecting lxml==4.6.4
  Downloading lxml-4.6.4-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_24_x86_64.whl (6.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.3/6.3 MB 72.6 MB/s eta 0:00:00:00:0100:01
Installing collected packages: lxml
  Attempting uninstall: lxml
    Found existing installation: lxml 4.9.2
    Uninstalling lxml-4.9.2:
      Successfully uninstalled lxml-4.9.2
Successfully installed lxml-4.6.4

In [5]:
import yfinance as yf
import pandas as pd
import requests
from bs4 import BeautifulSoup
import plotly.graph_objects as go
from plotly.subplots import make_subplots

In Python, you can ignore warnings using the warnings module. You can use the filterwarnings function to filter or ignore specific warning messages or categories.

In [6]:
import warnings
# Ignore all warnings
warnings.filterwarnings("ignore", category=FutureWarning)

## Define Graphing Function

In this section, we define the function `make_graph`. You don't have to know how the function works, you should only care about the inputs. It takes a dataframe with stock data (dataframe must contain Date and Close columns), a dataframe with revenue data (dataframe must contain Date and Revenue columns), and the name of the stock.

In [7]:
def make_graph(stock_data, revenue_data, stock):
    fig = make_subplots(rows=2, cols=1, shared_xaxes=True, subplot_titles=("Historical Share Price", "Historical Revenue"), vertical_spacing = .3)
    stock_data_specific = stock_data[stock_data.Date <= '2021--06-14']
    revenue_data_specific = revenue_data[revenue_data.Date <= '2021-04-30']
    fig.add_trace(go.Scatter(x=pd.to_datetime(stock_data_specific.Date, infer_datetime_format=True), y=stock_data_specific.Close.astype("float"), name="Share Price"), row=1, col=1)
    fig.add_trace(go.Scatter(x=pd.to_datetime(revenue_data_specific.Date, infer_datetime_format=True), y=revenue_data_specific.Revenue.astype("float"), name="Revenue"), row=2, col=1)
    fig.update_xaxes(title_text="Date", row=1, col=1)
    fig.update_xaxes(title_text="Date", row=2, col=1)
    fig.update_yaxes(title_text="Price ($US)", row=1, col=1)
    fig.update_yaxes(title_text="Revenue ($US Millions)", row=2, col=1)
    fig.update_layout(showlegend=False,
    height=900,
    title=stock,
    xaxis_rangeslider_visible=True)
    fig.show()

## Question 1: Use yfinance to Extract Stock Data

Using the `Ticker` function enter the ticker symbol of the stock we want to extract data on to create a ticker object. The stock is Tesla and its ticker symbol is `TSLA`.

In [5]:
tesla = yf.Ticker('TSLA')
tesla

yfinance.Ticker object <TSLA>

Using the ticker object and the function `history` extract stock information and save it in a dataframe named `tesla_data`. Set the `period` parameter to `max` so we get information for the maximum amount of time.

In [6]:
tesla_data = tesla.history(period="max")
tesla_data

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2010-06-29,1.266667,1.666667,1.169333,1.592667,281494500,0,0.0
2010-06-30,1.719333,2.028000,1.553333,1.588667,257806500,0,0.0
2010-07-01,1.666667,1.728000,1.351333,1.464000,123282000,0,0.0
2010-07-02,1.533333,1.540000,1.247333,1.280000,77097000,0,0.0
2010-07-06,1.333333,1.333333,1.055333,1.074000,103003500,0,0.0
...,...,...,...,...,...,...,...
2024-04-16,156.740005,158.190002,153.750000,157.110001,97000000,0,0.0
2024-04-17,157.639999,158.330002,153.779999,155.449997,82439700,0,0.0
2024-04-18,151.250000,152.199997,148.699997,149.929993,96098800,0,0.0
2024-04-19,148.970001,150.940002,146.220001,147.050003,86005100,0,0.0
2024-04-22,140.602005,144.440002,138.802505,142.050003,106247367,0,0.0

**Reset the index** using the `reset_index(inplace=True)` function on the tesla_data DataFrame and display the first five rows of the `tesla_data` dataframe using the `head` function. Take a screenshot of the results and code from the beginning of Question 1 to the results below.

In [7]:
tesla_data.reset_index(inplace=True)
tesla_data.head

<bound method NDFrame.head of            Date        Open        High         Low       Close     Volume  \
0    2010-06-29    1.266667    1.666667    1.169333    1.592667  281494500
1    2010-06-30    1.719333    2.028000    1.553333    1.588667  257806500
2    2010-07-01    1.666667    1.728000    1.351333    1.464000  123282000
3    2010-07-02    1.533333    1.540000    1.247333    1.280000   77097000
4    2010-07-06    1.333333    1.333333    1.055333    1.074000  103003500
...         ...         ...         ...         ...         ...        ...
3472 2024-04-16  156.740005  158.190002  153.750000  157.110001   97000000
3473 2024-04-17  157.639999  158.330002  153.779999  155.449997   82439700
3474 2024-04-18  151.250000  152.199997  148.699997  149.929993   96098800
3475 2024-04-19  148.970001  150.940002  146.220001  147.050003   86005100
3476 2024-04-22  140.602005  144.440002  138.802505  142.050003  106247367

      Dividends  Stock Splits
0             0           0.0
1             0           0.0
2             0           0.0
3             0           0.0
4             0           0.0
...         ...           ...
3472          0           0.0
3473          0           0.0
3474          0           0.0
3475          0           0.0
3476          0           0.0

[3477 rows x 8 columns]>

## Question 2: Use Webscraping to Extract Tesla Revenue Data

Use the `requests` library to download the webpage https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/revenue.htm Save the text of the response as a variable named `html_data`.

In [17]:
url = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/revenue.htm'
data  = requests.get(url).text

Parse the html data using `beautiful_soup`.

In [18]:
soup = BeautifulSoup(data, 'lxml')

Using `BeautifulSoup` or the `read_html` function extract the table with `Tesla Revenue` and store it into a dataframe named `tesla_revenue`. The dataframe should have columns `Date` and `Revenue`.

<details><summary>Click here if you need help locating the table</summary>

```
    
Below is the code to isolate the table, you will now need to loop through the rows and columns like in the previous lab
    
soup.find_all("tbody")[1]
    
If you want to use the read_html function the table is located at index 1

We are focusing on quarterly revenue in the lab.
```

</details>

In [26]:
tesla_data = pd.read_html(str(soup)) 
tesla_revenue = tesla_data[0]
tesla_revenue = tesla_revenue.rename(columns={'Tesla Annual Revenue(Millions of US $)': 'Date', 'Tesla Annual Revenue(Millions of US $).1': 'Revenue'})
tesla_revenue
tesla_data

[    Tesla Annual Revenue(Millions of US $)  \
 0                                     2021
 1                                     2020
 2                                     2019
 3                                     2018
 4                                     2017
 5                                     2016
 6                                     2015
 7                                     2014
 8                                     2013
 9                                     2012
 10                                    2011
 11                                    2010
 12                                    2009

    Tesla Annual Revenue(Millions of US $).1
 0                                   $53,823
 1                                   $31,536
 2                                   $24,578
 3                                   $21,461
 4                                   $11,759
 5                                    $7,000
 6                                    $4,046
 7                                    $3,198
 8                                    $2,013
 9                                      $413
 10                                     $204
 11                                     $117
 12                                     $112  ,
    Tesla Quarterly Revenue(Millions of US $)  \
 0                                 2022-09-30
 1                                 2022-06-30
 2                                 2022-03-31
 3                                 2021-12-31
 4                                 2021-09-30
 5                                 2021-06-30
 6                                 2021-03-31
 7                                 2020-12-31
 8                                 2020-09-30
 9                                 2020-06-30
 10                                2020-03-31
 11                                2019-12-31
 12                                2019-09-30
 13                                2019-06-30
 14                                2019-03-31
 15                                2018-12-31
 16                                2018-09-30
 17                                2018-06-30
 18                                2018-03-31
 19                                2017-12-31
 20                                2017-09-30
 21                                2017-06-30
 22                                2017-03-31
 23                                2016-12-31
 24                                2016-09-30
 25                                2016-06-30
 26                                2016-03-31
 27                                2015-12-31
 28                                2015-09-30
 29                                2015-06-30
 30                                2015-03-31
 31                                2014-12-31
 32                                2014-09-30
 33                                2014-06-30
 34                                2014-03-31
 35                                2013-12-31
 36                                2013-09-30
 37                                2013-06-30
 38                                2013-03-31
 39                                2012-12-31
 40                                2012-09-30
 41                                2012-06-30
 42                                2012-03-31
 43                                2011-12-31
 44                                2011-09-30
 45                                2011-06-30
 46                                2011-03-31
 47                                2010-12-31
 48                                2010-09-30
 49                                2010-06-30
 50                                2010-03-31
 51                                2009-12-31
 52                                2009-09-30
 53                                2009-06-30

    Tesla Quarterly Revenue(Millions of US $).1
 0                                      $21,454
 1                                      $16,934
 2                                      $18,756
 3                                      $17,719
 4                                      $13,757
 5                                      $11,958
 6                                      $10,389
 7                                      $10,744
 8                                       $8,771
 9                                       $6,036
 10                                      $5,985
 11                                      $7,384
 12                                      $6,303
 13                                      $6,350
 14                                      $4,541
 15                                      $7,226
 16                                      $6,824
 17                                      $4,002
 18                                      $3,409
 19                                      $3,288
 20                                      $2,985
 21                                      $2,790
 22                                      $2,696
 23                                      $2,285
 24                                      $2,298
 25                                      $1,270
 26                                      $1,147
 27                                      $1,214
 28                                        $937
 29                                        $955
 30                                        $940
 31                                        $957
 32                                        $852
 33                                        $769
 34                                        $621
 35                                        $615
 36                                        $431
 37                                        $405
 38                                        $562
 39                                        $306
 40                                         $50
 41                                         $27
 42                                         $30
 43                                         $39
 44                                         $58
 45                                         $58
 46                                         $49
 47                                         $36
 48                                         $31
 49                                         $28
 50                                         $21
 51                                         NaN
 52                                         $46
 53                                         $27  ,
                                               Sector  \
 0                                  Auto/Tires/Trucks
 1  Tesla is the market leader in battery-powered ...

                                             Industry  \
 0                      Auto Manufacturers - Domestic
 1  Tesla is the market leader in battery-powered ...

                                           Market Cap  \
 0                                          $549.575B
 1  Tesla is the market leader in battery-powered ...

                                              Revenue
 0                                           $53.823B
 1  Tesla is the market leader in battery-powered ...  ,
                 Stock Name        Country Market Cap  PE Ratio
 0      General Motors (GM)  United States   $53.930B      5.56
 1           Ford Motor (F)  United States   $52.668B      8.09
 2    Harley-Davidson (HOG)  United States    $6.762B      9.56
 3            Polaris (PII)  United States    $6.267B     11.86
 4                IAA (IAA)  United States    $5.134B     16.40
 5             Fisker (FSR)  United States    $2.261B      0.00
 6      Lion Electric (LEV)         Canada    $0.551B      0.00
 7             Volta (VLTA)  United States    $0.071B      0.00
 8       Bird Global (BRDS)  United States    $0.054B      0.00
 9  Lightning EMotors (ZEV)  United States    $0.043B      0.00,
                      Link Preview  HTML Code (Click to Copy)
 0  Tesla Revenue 2010-2022 | TSLA                        NaN
 1                     Macrotrends                        NaN
 2                          Source                        NaN,
                      Link Preview  HTML Code (Click to Copy)
 0  Tesla Revenue 2010-2022 | TSLA                        NaN
 1                     Macrotrends                        NaN
 2                          Source                        NaN]

Execute the following line to remove the comma and dollar sign from the `Revenue` column.

In [20]:
tesla_revenue["Revenue"] = tesla_revenue['Revenue'].str.replace(',|\$',"")
tesla_revenue

    Date Revenue
0   2021   53823
1   2020   31536
2   2019   24578
3   2018   21461
4   2017   11759
5   2016    7000
6   2015    4046
7   2014    3198
8   2013    2013
9   2012     413
10  2011     204
11  2010     117
12  2009     112

Execute the following lines to remove an null or empty strings in the Revenue column.

In [21]:
tesla_revenue.dropna(inplace=True)

tesla_revenue = tesla_revenue[tesla_revenue['Revenue'] != ""]

Display the last 5 row of the `tesla_revenue` dataframe using the `tail` function. Take a screenshot of the results.

In [22]:
tesla_revenue.tail(5)

    Date Revenue
8   2013    2013
9   2012     413
10  2011     204
11  2010     117
12  2009     112

## Question 3: Use yfinance to Extract Stock Data

In [8]:
gamestop = yf.Ticker('GME')
gamestop

yfinance.Ticker object <GME>

Using the `Ticker` function enter the ticker symbol of the stock we want to extract data on to create a ticker object. The stock is GameStop and its ticker symbol is `GME`.

Using the ticker object and the function `history` extract stock information and save it in a dataframe named `gme_data`. Set the `period` parameter to `max` so we get information for the maximum amount of time.

In [9]:
gme_data = gamestop.history(period="max")

**Reset the index** using the `reset_index(inplace=True)` function on the gme_data DataFrame and display the first five rows of the `gme_data` dataframe using the `head` function. Take a screenshot of the results and code from the beginning of Question 3 to the results below.

In [10]:
gme_data.reset_index(inplace = True)
gme_data.head

<bound method NDFrame.head of            Date       Open       High        Low      Close    Volume  \
0    2002-02-13   1.620128   1.693350   1.603296   1.691666  76216000
1    2002-02-14   1.712707   1.716074   1.670626   1.683250  11021600
2    2002-02-15   1.683251   1.687459   1.658002   1.674835   8389600
3    2002-02-19   1.666418   1.666418   1.578047   1.607504   7410400
4    2002-02-20   1.615920   1.662210   1.603296   1.662210   6892800
...         ...        ...        ...        ...        ...       ...
5581 2024-04-17  10.440000  10.590000  10.300000  10.300000   2096700
5582 2024-04-18  10.320000  10.630000  10.270000  10.310000   2175400
5583 2024-04-19  10.200000  10.500000  10.200000  10.420000   2455100
5584 2024-04-22  10.410000  10.450000  10.010000  10.010000   3253900
5585 2024-04-23  10.050000  10.280000  10.010000  10.140000   1358373

      Dividends  Stock Splits
0           0.0           0.0
1           0.0           0.0
2           0.0           0.0
3           0.0           0.0
4           0.0           0.0
...         ...           ...
5581        0.0           0.0
5582        0.0           0.0
5583        0.0           0.0
5584        0.0           0.0
5585        0.0           0.0

[5586 rows x 8 columns]>

## Question 4: Use Webscraping to Extract GME Revenue Data

Use the `requests` library to download the webpage https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/stock.html. Save the text of the response as a variable named `html_data`.

In [33]:
data = requests.get('https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/stock.html').text

Parse the html data using `beautiful_soup`.

In [34]:
soup = BeautifulSoup(data, 'lxml')

Using `BeautifulSoup` or the `read_html` function extract the table with `GameStop Revenue` and store it into a dataframe named `gme_revenue`. The dataframe should have columns `Date` and `Revenue`. Make sure the comma and dollar sign is removed from the `Revenue` column using a method similar to what you did in Question 2.

<details><summary>Click here if you need help locating the table</summary>

```
    
Below is the code to isolate the table, you will now need to loop through the rows and columns like in the previous lab
    
soup.find_all("tbody")[1]
    
If you want to use the read_html function the table is located at index 1


```

</details>

In [43]:
read_html_gme_data = pd.read_html(str(soup)) 
gme_revenue =  read_html_gme_data[0]

gme_revenue = gme_revenue.rename(columns={'GameStop Annual Revenue(Millions of US $)': 'Date', 'GameStop Annual Revenue(Millions of US $).1': 'Revenue'})
gme_data

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2002-02-13,1.620128,1.693350,1.603296,1.691666,76216000,0.0,0.0
1,2002-02-14,1.712707,1.716074,1.670626,1.683250,11021600,0.0,0.0
2,2002-02-15,1.683251,1.687459,1.658002,1.674835,8389600,0.0,0.0
3,2002-02-19,1.666418,1.666418,1.578047,1.607504,7410400,0.0,0.0
4,2002-02-20,1.615920,1.662210,1.603296,1.662210,6892800,0.0,0.0
...,...,...,...,...,...,...,...,...
5581,2024-04-17,10.440000,10.590000,10.300000,10.300000,2096700,0.0,0.0
5582,2024-04-18,10.320000,10.630000,10.270000,10.310000,2175400,0.0,0.0
5583,2024-04-19,10.200000,10.500000,10.200000,10.420000,2455100,0.0,0.0
5584,2024-04-22,10.410000,10.450000,10.010000,10.010000,3253900,0.0,0.0
5585,2024-04-23,10.050000,10.280000,10.010000,10.140000,1358373,0.0,0.0

Display the last five rows of the `gme_revenue` dataframe using the `tail` function. Take a screenshot of the results.

In [36]:
gme_revenue['Revenue'] = gme_revenue['Revenue'].str.replace(',|\$',"")

## Question 5: Plot Tesla Stock Graph

Use the `make_graph` function to graph the Tesla Stock Data, also provide a title for the graph. The structure to call the `make_graph` function is `make_graph(tesla_data, tesla_revenue, 'Tesla')`. Note the graph will only show data upto June 2021.

In [28]:
make_graph(tesla_data, tesla_revenue, 'Tesla')

TypeError: Invalid comparison between dtype=int64 and str

## Question 6: Plot GameStop Stock Graph

Use the `make_graph` function to graph the GameStop Stock Data, also provide a title for the graph. The structure to call the `make_graph` function is `make_graph(gme_data, gme_revenue, 'GameStop')`. Note the graph will only show data upto June 2021.

In [40]:
plot = make_graph(gme_data, gme_revenue, 'GameStop')

TypeError: Invalid comparison between dtype=int64 and str

<h2>About the Authors:</h2> 

<a href="https://www.linkedin.com/in/joseph-s-50398b136/">Joseph Santarcangelo</a> has a PhD in Electrical Engineering, his research focused on using machine learning, signal processing, and computer vision to determine how videos impact human cognition. Joseph has been working for IBM since he completed his PhD.

Azim Hirjani

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By    | Change Description        |
| ----------------- | ------- | ------------- | ------------------------- |
| 2022-02-28        | 1.2     | Lakshmi Holla | Changed the URL of GameStop |
| 2020-11-10        | 1.1     | Malika Singla | Deleted the Optional part |
| 2020-08-27        | 1.0     | Malika Singla | Added lab to GitLab       |

<hr>

## <h3 align="center"> © IBM Corporation 2020. All rights reserved. <h3/>

<p>